params {
  input = "$launchDir/data/samplesheet"
  samplesheetName = "samplesheet.csv"
  fromSra = false
  outDir = "$launchDir/ngs-samples-output"
  
  // Subsampling parameters
  genomeSize = 3000000000  // Genome size in base pairs (default: human ~3Gb)
  assayType = "DNASeq" // if RNASeq, will use 20M maxReads; DNASeq will calculate use 60x coverage 
}

process {
  maxForks = 2
}

includeConfig "$baseDir/conf/docker.config"

apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'

workDir = "$launchDir/ngs-samples-work"
